%h1 Tell Us About Yourself

#content
	= form_for @partner do |f|


		%h3 I am representing

		.partner_type.radio

			= f.radio_button :partner_type, 'nonprofit', :checked => 'checked'
			%label a non-profit organization
			%br
			= f.radio_button :partner_type, 'company'
			%label a company
			%br
			= f.radio_button :partner_type, 'individual'
			%label myself as an individual

		= f.text_field :name, :placeholder => 'Name of Organization*', :for => 'nonprofit'
		.help The name of the organization will appear along with the campaign.

		= f.text_field :website, :placeholder => 'Website of Organization*', :for => 'nonprofit'
		.help You must maintain an active, legit website to run a campaign.

		= f.text_field :privacy_policy, :placeholder => 'Privacy Policy*', :for => 'nonprofit'
		.help Please provide a link to the privacy policy that appears on your website. You are legally responsible for following this policy any time you collect email addresses and user information through SoundOff.

		%p.line.tos{ :for => 'nonprofit' }
			%input{ :type => 'checkbox', :id => 'privacy', :value => 'true' }
			%span I certify my organization's communication includes an unsubscribe links and instructions
		.help Let’s make SoundOff a spam-free experience! If you’re going to email any SoundOff users, you need to let them know how they can be removed from your list. We reserve the right to request a sample e-mail.


		= f.text_field :mailing_address, :placeholder => 'Mailing Address*', :for => 'nonprofit'
		.help
			Please provide a valid mailing address - make sure it’s the same one that appears on your 990 federal tax form. If you’ve moved since your last filing, just email us at
			%a{ :href => 'mailto:SoundOff@HeadCount.org' } SoundOff@HeadCount.org
			with an update.

		= f.text_field :name, :placeholder => 'Name of Company*', :for => 'company', :style => 'display:none'
		.help The name of the organization will appear along with the campaign.

		= f.text_field :website, :placeholder => 'Website of Company*', :for => 'company', :style => 'display:none'
		.help You must maintain an active, legit website to run a campaign.

		= f.text_field :contact_name, :placeholder => 'Contact Name*', :value => ( @partner.users.first.name rescue '' ), :for => 'company nonprofit individual'
		.help Who should we talk to about your campaigns?

		- if (@partner.users.first.password rescue false)
			= f.hidden_field :contact_password, :value => @partner.users.first.password
		- else
			= f.password_field :contact_password, :placeholder => 'Password*', :value => ( @partner.users.first.password rescue '' ), :for => 'company nonprofit individual'
			.help The password you'll use to login

		= f.email_field :contact_email, :placeholder => 'Contact Email*', :value => ( @partner.users.first.email rescue '' ), :for => 'company nonprofit individual'
		.help We’ll email you a confirmation that your campaign has been approved, or hit you with any questions.

		= f.text_field :contact_phone, :placeholder => 'Contact Phone*', :for => 'company nonprofit individual'
		.help We need your digits too.

		= f.text_field :tax_id, :placeholder => 'Tax ID Number*', :for => 'nonprofit'
		.help This is sometimes called an EIN number. It lets us check your non-profit status.

		= f.text_field :website, :placeholder => 'Your Website*', :for => 'individual', :style => 'display:none'
		.help You must provide a website for folks to learn more about you - something like your Twitter Profile, Facebook, Tumblr, or blog will work.

		= f.text_field :twitter_screen_name, :placeholder => 'Twitter Handle*', :for => 'company nonprofit individual'
		.help Your Twitter avatar and handle will appear with your campaign
		.extra @
		%p.tos
			%input{ :type => 'checkbox', :checked => 'checked', :id => 'tos', :value => 'true' }
			I Agree to the
			= link_to 'Terms of Service', tos_path, :target => '_blank'

		%button
			Join&nbsp;
			%span #S
			ound
			%span O
			ff

		%p * Required

		.errors

:javascript
	$(document).ready( function() {  })
	.on('click','.partner_type label, .line span',function() {
		this.previousElementSibling.click()
	})
	.on('click','.partner_type input[type=radio]',function() {
		var type = $(this).val()

		$('.help').removeClass('on')
		$('input,  .line').removeClass('oops').not('[type=radio],[type=checkbox]').each( function() {
			var $input = $(this)
			if( ($input.attr('for') || '').search(type) === -1 ) {
				$input.bind('otransitionend msTransitionEnd transitionend webkitTransitionEnd', function() { $(this).hide().unbind('otransitionend msTransitionEnd transitionend webkitTransitionEnd').removeClass('off')  })
				$input.addClass('off')
			} else $input.removeClass('off').show()
		})
	})
	.on('click','#tos',function(){
		$(this).parent().removeClass('oops')
	})
	.on('focus','input',function() {
		$('.help').removeClass('on')
		$(this).next().addClass('on')
	})
	.on('mouseover','.line',function(){
		$('.help').removeClass('on')
		$(this).next().addClass('on')
	})
	.on('blur','input',function(){
		var $this = $(this)
		if( $this.val().length > 0 ) $this.removeClass('oops')
	})
	.on('keydown','#partner_twitter_screen_name',function() {
		var $this =  $(this);
		$this.val( $this.val().replace(/\@/g,'') );
	})
	.on('submit','form',function(e){
		var errors = [],
			$errors = $('.errors').html('')
			$tos = $(tos),
			$privacy = $(privacy)
		$('input:visible, textarea:visible').removeClass('oops').not('input[type=radio],input[type=checkbox]').each( function() {
			var $input = $(this),
				val = $input.val(),
				readable_name = $input.attr('placeholder').replace(/\*/g,'').toLowerCase(),
				name = $input.attr('name')

			if( val.length < 1 && $input.attr('placeholder').search(/\*/) !== -1 ) {
				errors.push( readable_name + ' cannot be empty' )
				$input.addClass('oops');
			}
			if( name == 'partner[privacy_policy]' || name == 'partner[website]'  ) {
				var url = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
				var regex = new RegExp(url);
				if( ! val.match( regex ) ) {
					errors.push( readable_name + ' must be a valid url' )
					$input.addClass('oops')
				}
			}
		})
		if( ! $tos.is(':checked') ) {
			errors.push('you must agree to the terms of service')
			$tos.parent().addClass('oops')
		}
		if( ! $privacy.is(':checked') && $(partner_partner_type_nonprofit).is(':checked') ) {
			errors.push('you must have a privacy policy')
			$privacy.parent().addClass('oops')
		}
		if( $('input[type=radio]:checked').length == 0 ) {
			errors.push('you must select a partner type');
			$('.partner_type').addClass('oops');
		}

		if( errors.length ) {
			e.preventDefault();
			last = errors.pop()
			errors = errors.length == 0 ? last : errors.join(', ') + ', and '+last
			$errors.text( errors )
		}
		else $('input[type=text]:hidden').remove()
	})