- if @campaign.new_record?
	%h2 #{@campaign.partner.name} Just Submitted #{@campaign.name} Campaign
- else
	%h2 #{@campaign.partner.name} Just Updated #{@campaign.name} Campaign
%p
	= link_to 'approve campaign here', (ENV['BASE_DOMAIN'] || '' ) +campaigns_path
%p
	%strong Campaign Name:
	= @campaign.name

%p
	%strong Hashtag:
	= @campaign.hashtag

%p
	%strong Target:
	= @campaign.target

- if @campaign.collect_email
	%p
		%strong Email:
		= @campaign.email_option

%p
	%strong Description:
	:plain
		#{@campaign.description}

%h2 Partner Info

%p
	%strong Partner Name:
	= @campaign.partner.name

%p
	%strong Partner Twitter:
	= link_to '@'+@campaign.partner.twitter_screen_name, 'http://twitter.com/'+@campaign.partner.twitter_screen_name

%p= link_to 'Partner Website', @campaign.partner.website

%p
	%strong Partner Type:
	= @campaign.partner.partner_type

%p
	%strong Contact Name:
	= @campaign.partner.users.first.name

%p
	%strong Contact Email:
	= @campaign.partner.users.first.email
%p
	%strong Contact Phone:
	= @campaign.partner.users.first.phone

- if @campaign.partner.partner_type == 'nonprofit'
	%p
		%strong Tax ID:
		= @campaign.partner.tax_id

	%p
		%strong Mailing Address
		= @campaign.partner.mailing_address

	%p
		%strong Privacy Policy
		= @campaign.partner.privacy_policy
