#fixed
	%a{ :href => (current_user ? new_campaign_path : registration_path)}
		%button.start_campaign Start a Campaign,


	%a.item.facebook{ :href => 'https://www.facebook.com/HeadCountOrg', :target => '_blank' }
		= image_tag 'facebook.png'
	%a.item.twitter{ :href => 'https://twitter.com/headcountorg', :target => '_blank' }
		= image_tag 'twitter_dark.png'
	#top_menu
		%a.item.menu{ :href => '#'} &#9776;
		.inner
			= link_to 'About', about_path
			%a Partners
			= link_to 'Press', press_path
			= link_to 'Donate', 'http://www.HeadCount/donate'
			%a Privacy Policy
			%a Terms and Conditions
			= link_to 'Contact', contact_path