%script{ :type => 'text/javascript', :src => '//platform.twitter.com/widgets.js'}

#top
	#start_campaign
		%em Want to partner up with #SoundOff? 
		%button.start_campaign Start a Campaign

	#banner
		powered by
		%a{ :href=> 'http://headcount.org', :target => '_blank' }= image_tag 'headcount.png'

	= image_tag asset_path( 'logo.png' ), :id => 'logo'

	#description
		%h1 Tweet @ power.
		%p 
			Run your own campaign or just send one tweet. 
			%br
			We'll make sure your message goes directly to the
			%br
			decision makers on issues that matter to you

		%button.get_started{ :href => '#' } Get Started

	#fixed
		%button.start_campaign Start a Campaign

		%a.facebook{ :href => 'https://www.facebook.com/HeadCountOrg', :target => '_blank' }
			= image_tag 'facebook.png'
		%a.twitter{ :href => 'https://twitter.com/headcountorg', :target => '_blank' }
			= image_tag 'twitter_dark.png'
		%a.menu{ :href => '#'} &#9776;

#footer
	.disclaimer
		%p
			:plain
				SoundOff is an advocacy tool created and maintained by HeadCount.org, for the purpose of encouraging citizens to play an active role in goverment. This tool is available to all organizations and individuals regardless of their beliefs or affilations, so long as they comply with the Terms of Service. HeadCount does not endorse, censor or take responsiblity for any of the content of any campaign using this service, Organizations or individuals using this service do so independently and with no affiliation with HeadCount.

	.column
		%p
			%a Link
		%p
			%a Link
		%p
			%a Link
	.column
		%p
			%a Link
		%p
			%a Link
		%p
			%a Link
	.column
		%p
			%a Link
		%p
			%a Link
		%p
			%a Link

#main{ "ng-app" => true, "ng-controller" => 'homePageScope'  }

	#menu{  :class => params[:short_url] ? 'single' : '', 'ng-class' => '{true: "single", false: "" }[single_item != null]' }
		%h2 Campaigns & Elected Reps

		= image_tag 'search.png', :class => 'search'
		%input{ :placeholder => 'search', "ng-model" => "search", :type => 'text'}
		.messages
			%a.rest.single{ 'ng-hide' => 'search.length < 1 ', 'ng-click' => 'resetHard(); '} see all campaigns
			%a.rest.many{ 'ng-hide' => 'search.length < 1 ', 'ng-click' => 'resetHard(); '} clear search

		#tabs
			%span{ 'ng-click' => 'setScoreBoard()', 'ng-class' => 'isMode("scoreboard")' } Scoreboard
			%span{ 'ng-click' => 'setMostRecent()', 'ng-class' => 'isMode("Most Recent")' } Most Recent
			%span{ 'ng-click' => 'setReps()', 'ng-class' => 'isMode("Reps")' } Reps
			%p
				%a.open_soundoff{ 'ng-hide' => 'mode.toLowerCase() != "reps" || search.length > 0'} Don't know your representative?

		.inner
			.items
				.campaign{ "ng-repeat" => "campaign in items()", "ng-class" => "isActive($index,campaign)" }
					%h3.score {{campaign.score}}
					%h3 {{campaign.name}}

					.description {{campaign.description}}
	#more-info
		%h2 More Info
		%p
			Direct Link:
			%input{ 'onclick' => '$(this).select()' , :value =>  '{{single_url }}' }
		%p
			%a{ :href => '{{single_twitter }}', :target => '_blank' } Share on Twitter
			|
			%a{ :href => '{{single_facebook }}', :target => '_blank' } Share on Facebook
		%p
			%a.build_widget{ :href => '{{build_widget}}', :target => '_blank' } Build a Widget

	#powered_by
		%a{ :href=> 'http://headcount.org', :target => '_blank' }= image_tag 'headcount.png'
		\#SoundOff and it's campaigns are
		%br
		brought to you by:

	#content
		.item{ "ng-repeat" => "campaign in items()", "ng-class" => "isActive($index,campaign)" }
			.description
				.title
					%h1 {{campaign.name}}
					%button.open_soundoff{{  :campaign => '{{campaign.name}}'}} #SoundOff
					-# %h3 
					-# 	Score
					-# 	.score {{campaign.score}}
					
					{{campaign.description}}

					%h4 Launched {{ campaign.created_at | date:'d MMMM' }}

			.tweets
				%h4
					Join the Ranks
					%span SoundOff with others about {{campaign.name}}

				.tweet{ 'ng-repeat' => 'tweet in campaign.tweets' }
					.actions
						%a{ :href =>  "https://twitter.com/{{tweet.from_user}}/status/{{tweet.id_str}}", :target => '_blank' }
							= image_tag 'twitter_logo.png'
							{{  tweet.created_at | date: 'd MMM' }}
						.buttons
							%a.reply{ :href => 'https://twitter.com/intent/tweet?in_reply_to={{tweet.id_str}}', :target => '_blank' }
							%a.retweet{ :href => 'https://twitter.com/intent/retweet?tweet_id={{tweet.id_str}}', :target => '_blank' }
							%a.favorite{ :href => 'https://twitter.com/intent/favorite?tweet_id={{tweet.id_str}}', :target => '_blank' }

					%img.profile_img{ 'ng-src' => '{{tweet.profile_image_url}}' }
					%h2 {{tweet.from_user_name}}
					%h3 @{{tweet.from_user }}

					.body {{ tweet.text }}
