%script{ :type => 'text/javascript', :src => '//platform.twitter.com/widgets.js'}

#top
	#banner
		powered by:
		%br
		%a{ :href=> 'http://headcount.org', :target => '_blank' }= image_tag 'headcount.png'
		%a.small{ :href=> 'http://headcount.org', :target => '_blank' }HeadCount

	= image_tag asset_path( @body_class.index('fixed') ? 'logo_no_cong.png' : 'logo.png' ), :id => 'logo'

	#description
		%p
			Run your own campaign or just send one tweet. We'll make sure your message goes directly to the decision makers on issues that matter to you.

		%button.get_started{ :href => '#' } Get Started

	= render 'home/fixed'

#footer
	.disclaimer
		%p
			:plain
				SoundOff is an advocacy tool created and maintained by HeadCount.org, for the purpose of encouraging citizens to play an active role in government. This tool is available to all organizations and individuals regardless of their beliefs or affiliations, so long as they comply with the Terms of Service. HeadCount does not endorse, censor or take responsibility for any of the content of any campaign using this service.

	.column
		%p= link_to 'About', about_path
		%p= link_to 'Press', press_path
		%p= link_to 'Donate', 'http://www.HeadCount.org/donate'
	.column
		%p= link_to 'Privacy Policy', privacy_path, :target => '_blank'
		%p= link_to 'Terms & Conditions', tos_path, :target => '_blank'
		%p= link_to 'HeadCount.org', 'http://headcount.org', :target => '_blank'
	.column
		%p= link_to 'Contact', contact_path
		%p= link_to 'Register to Vote', 'http://headcount.org/register-to-vote', :target => '_blank'
		%p= !! current_user ? link_to( 'Log out', destroy_user_session_path ) : link_to( 'Sign In / Register', new_user_session_path )


#main{ "ng-app" => true, "ng-controller" => 'homePageScope', 'ng-class' => 'mobileActive()'  }

	#menu{  :class => params[:short_url] ? 'single' : '', 'ng-class' => '{true: "single", false: "" }[single_item != null] + \' \'+ {true: "reps", false: "" }[mode.toLowerCase() == "reps"]' }
		%h2 Choose a Campaign or Rep

		= image_tag 'search.png', :class => 'search'
		%input{ :placeholder => 'search', "ng-model" => "search", :type => 'text'}
		.messages
			%a.rest.single.campaign{ 'ng-hide' => 'search.length < 1 ', 'ng-click' => 'resetHard(); '} see all campaigns
			%a.rest.single.rep{ 'ng-hide' => 'search.length < 1 ', 'ng-click' => 'resetHard(); '} see all rep
			%a.rest.many{ 'ng-hide' => 'search.length < 1 ', 'ng-click' => 'resetHard(); '} clear search
			%span.loading{ 'ng-hide' => 'search.length < 1 '} Loading...

		#tabs
			%span{ 'ng-click' => 'setScoreBoard()', 'ng-class' => 'isMode("scoreboard")' } Scoreboard
			%span{ 'ng-click' => 'setMostRecent()', 'ng-class' => 'isMode("Most Recent")' } Most Recent
			%span{ 'ng-click' => 'setReps()', 'ng-class' => 'isMode("Reps")' } Reps
			%p
				%a.open_soundoff{ 'ng-hide' => 'mode.toLowerCase() != "reps" || search.length > 0'} Don't know your representative?

		.inner
			.items
				.campaign{ "ng-repeat" => "campaign in campaigns()", "ng-class" => "isActive($index,campaign)" }
					%h3.score {{campaign.score}}
					%h3.name {{campaign.name}}

					.description {{campaign.description}}
				.rep{ "ng-repeat" => "rep in reps()", "ng-class" => "isActive($index,rep)" }
					%h3 {{rep.title}} {{rep.first_name}} {{rep.last_name}}
					%p
						{{rep.state_name}}
						%span{ 'ng-hide' => 'rep.district == "0"' }{{rep.district}}
	#more-info{ 'ng-class' => '{true: "reps", false: "" }[mode.toLowerCase() == "reps"]' }
		%h2 More Info
		%p
			Direct Link:
			%input{ 'onclick' => '$(this).select()' , :value =>  '{{single_url }}' }
		%p
			%a{ :href => '{{single_twitter }}', :target => '_blank' } Share on Twitter
			|
			%a{ :href => '{{single_facebook }}', :target => '_blank' } Share on Facebook
		%p{ 'ng-hide' => 'mode.toLowerCase() == "reps"'}
			%a.build_widget{ :href => '{{build_widget}}', :target => '_blank' } Build a Widget

	#powered_by
		%h3 POWERED BY
		%p.mark
			Built by
			%a{ :href => 'http://twitter.com/sduncombe', :target => '_blank' } Scott Duncombe
			%br
			\& designed by
			%a{ :href => 'http://www.linkedin.com/pub/bryan-chiem/3b/100/181', :target => '_blank' } Bryan Chiem
		%a{ :href=> 'http://headcount.org', :target => '_blank' }= image_tag 'headcount.png'

	#content
		.item{ "ng-repeat" => "item in items()", "ng-class" => "isActive($index,item) +' '+{true: \"rep\", false: \"\" }[mode.toLowerCase() == \"reps\"]" }
			.back{ 'ng-click' => 'reset()'} < Back
			.description.campaign
				.title
					%a{ 'ng-href' => '{{item.website}}' }
						%img{ 'ng-src' => '{{item.logo.replace("_normal","_bigger")}}' }
					%button.open_soundoff{{  :campaign => '{{item.id}}' }}
						%span #S
						ound
						%span O
						ff
					%h1 {{item.name}}
					%h3 {{item.hashtag }}
					%h3
						%a{ 'ng-href' => 'item.twitter_profile' } {{item.twitter_screen_name}}


					.copy {{item.description}}

					%p.details_left
						%strong Launched
						{{ item.created_at | date:'d MMMM' }}

					%p.details_right{ 'ng-hide' => 'item.partner.length < 1' }
						%strong Created by
						%a{ 'ng-href' => '{{item.website}}' } {{item.partner}}
			.description.rep
				.title

					%img{ 'ng-src' => '{{item.twitter_profile_image.replace("_normal","_bigger") }}' }
					%button.open_soundoff{{  :rep => '{{item.twitter_screen_name}}' }}
						%span #S
						ound
						%span O
						ff

					%h1 {{item.title}} {{item.first_name}} {{item.last_name}}
					%h3 @{{item.twitter_screen_name}}


					%p.details_left
						%strong {{longTitle( item )}}

					.copy


			.tweets
				%h4


				.tweet{ 'ng-repeat' => 'tweet in item.tweets' }
					.actions
						%a{ :href =>  "https://twitter.com/{{tweet.from_user}}/status/{{tweet.data.id_str}}", :target => '_blank' }
							= image_tag 'twitter_logo.png'
							{{  tweet.created_at | date: 'd MMM' }}
						.buttons
							%a.reply{ :href => 'https://twitter.com/intent/tweet?in_reply_to={{tweet.data.id_str}}', :target => '_blank' }
							%a.retweet{ :href => 'https://twitter.com/intent/retweet?tweet_id={{tweet.data.id_str}}', :target => '_blank' }
							%a.favorite{ :href => 'https://twitter.com/intent/favorite?tweet_id={{tweet.data.id_str}}', :target => '_blank' }

					%img.profile_img{ 'ng-src' => '{{tweet.data.user.profile_image_url}}' }
					%h2 {{tweet.data.user.name }}
					%h3 @{{tweet.data.user.screen_name }}

					.body {{ tweet.message }}
			.no-tweets{ 'ng-hide' => 'item.tweets.length > 0'}
				%h3
					Let’s get this party started!
					%br
					%a.open_soundoff{ :href => '#',:rep => '{{item.twitter_screen_name}}',:campaign => '{{item.id}}'  }
						Be the first to
						%br
						%span #S
						ound
						%span O
						ff!

= image_tag asset_path( 'logo_no_cong.png' ), :style => 'display:none'
= image_tag asset_path( 'logo_no_cong.png' ), :style => 'display:none'
