#main{ "ng-app" => true }
	#popup{ "ng-controller" => "formScope" }
		%h2.hash_tag {{name}}
		#close x
		%form#form{ :class => 'stage_{{stage}}', 'ng-submit' => 'nextStage()' }
			= image_tag 'SoundOffBlack.svg' , :class => 'stage_1 stage_2'

			#stage_1
				%input{ :placeholder => "Zip Code", "ng-model" => "zip", :id => 'zip' }

				- if ( @campaign.email_option != 'hidden' rescue true )
					%input{ :placeholder => "Email", "ng-model" => "email", :id => 'email'  }

					- if params[:email].nil?
						- if ( @campaign.email_option == 'optional' rescue true )
							.signups{ 'ng-hide' => 'email != "" '} Email is Optional
						.signups{ 'ng-hide' => 'email == "" '}
							It’s OK to add me to the mailing list of:
							%br
							%input{ :type => 'checkbox', :checked => true, 'ng-model' => 'add_headcount' }
							%span{ :onclick => '$(this).prev().click()' } HeadCount.org
							%br
							- if ( @campaign.collect_email && ! @campaign.partner.name.nil? rescue false )
								%input{ :type => 'checkbox', :checked => true, 'ng-model' => 'add_partner' }
								%span{ :onclick => '$(this).prev().click()' } #{ @campaign.partner.name }
								%br

			#stage_2
				%input{ :placeholder => 'Street Address', "ng-model" => 'street', :id => 'street' }

				%input{ :placeholder => 'City', "ng-model" => 'city', :id => 'city' }

				%p We need more information to find your Congressional Representative - help us out by providing your street address and city.

			#stage_3

				.target{ "ng-repeat" => "target in targets" }
					%img.profile_img{ 'ng-src' => "{{target.twitter_profile_image}}" }
					%h1 @{{ target.twitter_screen_name }}

				.box
					.tag{ 'ng-hide' => 'drop_campaign'}
						{{campaign}}
						%span{ 'ng-click' => "removeCampaign()" } x

					%textarea{ :placeholder => 'Enter your message to {{targets_list()}}',"ng-model" => "message", :id => 'message' }

				%p
					- if !@campaign.nil? && ! @campaign.suggested.empty?
						%a.suggestions{ :href => '#', 'ng-click' => 'seeSuggestions()' } Need Suggestions?
					%span{ :style => 'float:right'}
						{{counter}}
				%p.mobile{ :style => 'display:none'} Note: You can add a photo before sending your tweet.

			#stage_4
				%h1 Thanks! - You're Almost Done
				- if ! params[:page_url].nil? || ! params[:no_scoreboard].nil? || @campaign.nil?
					%h3
						Tell Your Friends and Set the&#160;
						%span #S
						ound
						%span O
						ff
				- else
					%h3
						Thanks for sounding off. Now, tell friends or pick another
						%a{ :href => home_path, :target => '_blank' } campaign
				.line
					%a.twitter{ 'ng-href' => '{{ twitter_link() }}', :target => '_blank' }
						.box
							= image_tag 'twitter_dark.png'
						Share on Twitter

				.line
					%a.facebook{ 'ng-href' => '{{ facebook_link() }}', :target => '_blank' }
						.box
							= image_tag 'facebook.png'
						Share on Facebook

				.line
					%a{ :href => 'http://headcount.org/register-to-vote', :target => '_blank' }
						.box
							= image_tag 'check.png'
						Register To Vote
				- if params[:no_scoreboard].nil? && params[:page_url].nil? && @campaign
					%h3{ :style => 'text-align: center'}
						%a{ :href => @campaign.url, :target => '_blank' }
							Visit
							&nbsp;
							%span #S
							ound
							%span O
							ff


			#notice
			%button.stage_1.stage_2 Continue

			%button.stage_3
				%span #S
				ound
				%span O
				ff

		- if @campaign
			#suggest
				%h3
					Need Help?
					%br
					Try one of these:

				- @campaign.suggested.each do |k,suggestion|
					%p.link{ 'ng-click' => "setMessage( #{ ( suggestion || k ).to_json } )" }
						= suggestion || k

				%a.no_thanks{ :href => '#', :onclick => 'suggest.style.display = "none"; return false;' } No Thanks