!!!
%html
	%head
		%title Sound Off
		= stylesheet_link_tag "widget", :media => "all"
		:javascript
			var $oundoff_config = #{ ( @config || {} ).to_json }
		= javascript_include_tag "angular.min"
		= javascript_include_tag "widget"
		= javascript_include_tag '//platform.twitter.com/widgets.js'
		= csrf_meta_tags
		- if params[:style] == 'dark'
			%meta(name="twitter:widgets:theme"content="dark")


	%body{ :class => @body_class, :onLoad => 'loadIntents()' }
		#main{ "ng-app" => true, "ng-controller" => 'widgetScope'  }
			%h3.take_action TAKE ACTION
			#header
				= image_tag ( 'SoundOffBlack.svg' ) , { :class => 'logo'}
				= image_tag ( 'SoundOffWhite.svg' ) , { :class => 'logo_hover' }
				%h1= '#'+params[:hashtag]


				%button#button
					Tweet @
					%br
					= @button
			#content
				.tweet{ 'ng-repeat' => 'tweet in tweets' }
					%blockquote.twitter-tweet
						%p {{ tweet.text }}
						%a{ :href =>  "https://twitter.com/{{tweet.user.screen_name }}/status/{{tweet.id_str}}", :target => '_blank' }
							{{  tweet.created_at | date: 'h:mm a - MMM d yyyy' }}

		#attribute
			powered by
			%a{ :href=> 'http://headcount.org', :target => '_blank' } HeadCount.org
