%h1 My Campaigns

#content.index
	%p Below is the URL for your campaign(s). Send it to your supporters and invite them to SoundOff!
	%p You also can place a widget for your campaign on any web page (see link below), and download data on your users.

	.dumb_table
		%table
			%thead
				%tr
					%th.name Campaign Name
					%th.url URL
					%th.pending Status
					%th{ :colspan =>  2 } Menu
			%tbody
				- @campaigns.each do |campaign|

					%tr
						%td.name= campaign.name
						%td.url= link_to campaign.url, campaign.url
						%td.pending= render 'status', :campaign => campaign
						%td.dl= link_to 'Create a Widget & Get User Data', campaign_path( campaign )
						%td.dl.edit= link_to 'Edit Campaign', edit_campaign_path( campaign )

	.menu
		%a{ :href => new_campaign_path }
			%button Launch New Campaign
		%br
		%br
		- if @partner
			%strong Data:
			Tweets: #{@partner.count_tweets}, Responses: #{@partner.count_responses}, Signups: #{@partner.count_signups}

		%br
		- unless @partner
			%a{ :href => all_path }
				All HeadCount Signups
		- else
			%a{ :href => all_path }
				All Signups
		|
		%a{ :href => tweets_path }
			All Tweets
		|
		%a{ :href => responses_path }
			All Responses
	- if @partner.custom_popup_css || current_user.admin
		= javascript_include_tag 'codemirror'
		= javascript_include_tag 'css'
		= stylesheet_link_tag 'codemirror'
		.custom_css
			%a.open_custom_css{ :href=>'#' } Edit Custom CSS
			.edit_custom_css{ :style => 'display:none'}
				%h3 Custom Popup CSS
				%em Will change the appearence of this partner's popup
				%textarea#code= @partner.custom_popup_css
				%button.codemirror Save

:javascript
	$(document)
		.on('click','.open_custom_css',function(e) {
			$(this).hide().next().show();
			editor = CodeMirror.fromTextArea(document.getElementById("code"), {lineNumbers: true});
			e.preventDefault()
		})
		.on('click','.codemirror',function(e){
			var $this = $(this)
			$.ajax({
				url: '/partners/#{@partner.id}.json',
				data: { partner: { custom_popup_css: editor.getValue() } },
				dataType: 'JSON',
				type: 'PUT',
				success: function(r) {
					if( r.success ) $this.after('<p>Saved</p>');
					else $this.after('<p>Didn\'t save</p>');
				}
			})
		})
		.on('change','.change_status',function() {
			var $this = $(this),
				status = $this.val().toLowerCase(),
				campaign = $this.attr('campaign')

			if( status == 'destroy' && ! confirm('Are you sure you want to delete this campaign?') ) return false;

			$.ajax({
				url: '/campaigns/'+campaign+'.json',
				data: { status: status},
				type: status == 'destroy' ? 'DELETE' : 'PUT',
				dataType: 'JSON',
				success: function() { if( status == 'destroy') $this.parents('tr').remove(); }
			})
		})