%h1 My Campaigns

#content.index
	%h4 Select a Campaign
	.dumb_table
		%table
			%thead
				%tr
					%th.name Campaign Name
					%th.url URL
					%th.pending Status
					%th{ :colspan => current_user.admin || current_user.partner.partner_type == 'nonprofit' ? 3 : 2 } Menu
			%tbody
				- @campaigns.each do |campaign|

					%tr
						%td.name= campaign.name
						%td.url= link_to campaign.url, campaign.url
						%td.pending= render 'status', :campaign => campaign
						%td.dl= link_to 'create widgets', campaign_path( campaign )
						- if current_user.admin || current_user.partner.partner_type == 'nonprofit'
							%td.dl= link_to 'download names', campaign_path( campaign )+'.text'
						%td.dl= link_to 'edit campaign', edit_campaign_path( campaign )

	%a{ :href => new_campaign_path }
		%button Launch New Campaign

	- if current_user.admin
		%a{ :href => all_path+'.text' }
			%button All HeadCount Singups

:javascript
	$(document).on('change','.change_status',function() {
		var $this = $(this),
			status = $this.val().toLowerCase(),
			campaign = $this.attr('campaign')

		if( status == 'destroy' && ! confirm('Are you sure you want to delete this campaign?') ) return false;

		$.ajax({
			url: '/campaigns/'+campaign,
			data: { status: status},
			type: status == 'destroy' ? 'DELETE' : 'PUT',
			dataType: 'JSON'
		})
	})