%h1 #{@campaign.name} ##{@campaign.hashtag}

#content.show

	- if @campaign.status == 'pending'
		%h3 Submitted for approval
		.info
			%p
				%strong Campaign Name:
				= @campaign.name

			%p
				%strong Hashtag:
				= @campaign.hashtag

			%p
				%strong Target:
				= @campaign.target

			%p
				%strong Description:
				:plain
					#{@campaign.description}
	- else
		%script{ :src => asset_path( "widget_snippet.js" ) }

		.menu
			%p
				%strong Data:
				Tweets: #{@campaign.count_tweets}, Responses: #{@campaign.count_responses}
				- if @campaign.collect_email || current_user.admin
					, Opt-ins: #{@campaign.count_signups}
				%br
				- if @campaign.collect_email || current_user.admin
					= link_to 'Download Names', campaign_path( @campaign )+'?export_names=true'
					&nbsp;|&nbsp;
				= link_to 'Edit Campaign', edit_campaign_path( @campaign )
				&nbsp;|&nbsp;
				= link_to 'Download Tweets', campaign_path( @campaign )+'?export_tweets=true'
				&nbsp;|&nbsp;
				= link_to 'Download Responses', campaign_path( @campaign )+'?export_responses=true'

		%p Place a widget on your website so your supporters can #SoundOff about #{@campaign.name}

		%h3
			Select Style:
			&nbsp;
			%span.light.selected Light
			&nbsp;
			%span.dark Dark

		%h3
			Preview Width:
			%input#set_width{ :value => 350, :type => 'number', :style => 'width: 90px' }
			px
		%p.small The widget can be anywhere from 280px to 700px wide.

		.widget_box.light
			.widget
				%a.soundoff_widget_light{ :href => @campaign.url, :campaign => @campaign.id }= @campaign.hashtag
			.explanation
				%p Copy and paste into your website to add the widget.
				%textarea
					:plain
						<script src="#{ ENV['BASE_DOMAIN'].gsub('http://','\\') || ''}/assets/widget_snippet.js"></script><a class="soundoff_widget_light" href="#{@campaign.url}" campaign="#{@campaign.id}">#{@campaign.hashtag}</a>


		.widget_box.dark
			.widget
				%a.soundoff_widget_dark{ :href => @campaign.url, :campaign => @campaign.id }= @campaign.hashtag
			.explanation
				%p Copy and paste into your website to add the widget.
				%textarea
					:plain
						<script type="text/javascript" src="#{ENV['BASE_DOMAIN'] || ''}/assets/widget_snippet.js"></script><a class="soundoff_widget_dark" href="#{@campaign.url}" campaign="#{@campaign.id}">#{@campaign.hashtag}</a>



:javascript
	var campaign_short_url = #{ @campaign.url.to_json },
		$oundoff_demo = true;

	$(document)
	.on('click','textarea',function(){
		$(this).select()
	})
	.on('change','#set_width',function() {
		var $this = $(this),
			new_width = $this.val();

		if( new_width > 700 ) $this.val( 700 );
		if( new_width < 280 ) $this.val( 280 );

		new_width = $this.val();

		if( new_width <= 700 && new_width >= 280 ) {
			$('.widget_box .widget').width( new_width )
			$('.widget_box .explanation').width( 700 - new_width )
		}
	})
	.on('click','.dark, .light',function() {
		var $this = $(this)
		if( $this.addClass('selected').is('.dark') ) {
			$('.widget_box.light').hide()
			$('.widget_box.dark').show()
			$('h3 .light').removeClass('selected')
		}
		if( $this.addClass('selected').is('.light') ) {
			$('.widget_box.light').show()
			$('.widget_box.dark').hide()
			$('h3 .dark').removeClass('selected')
		}
	})
	.on('keyup','.title_customize',function() {
		var $this = $(this),
		value = $this.val();

		$('textarea:first').val('<'+'script src="'+$oundoff_base_domain+'/assets/widget_snippet.js">'+'</'+'script><a class="soundoff_widget_light" href="'+campaign_short_url+'" campaign="#{ @campaign.id}">#{@campaign.hashtag}</a>');

		$('textarea:last').val('<'+'script src="'+$oundoff_base_domain+'/assets/widget_snippet.js">'+'</'+'script><a class="soundoff_widget_dark" href="'+campaign_short_url+'" campaign="#{ @campaign.id}">#{@campaign.hashtag}</a>');

		$('iframe').contents().find('h1').text(value)
	})

