!!!
%html
	%head
		%title #{ @title + ' | #SoundOff @ Congress' rescue '#SoundOff @ Congress' }

		%meta{ :name => 'viewport', :content => "width=device-width,initial-scale=1, maximum-scale=1" }

		= render 'home/meta'

		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "angular.min"
		:javascript
			var $oundoff_config = #{ ( @config || {} ).to_json }
		= javascript_include_tag "application"
		= csrf_meta_tags

	%body{ :class => "#{@body_class} fixed single" }
		#top
			= link_to image_tag( asset_path( 'logo_no_cong.png' ), :id => 'logo' ), home_path
			= render 'home/fixed'

		#main
			= yield

			= link_to image_tag( 'headcount_big.png', :style => 'margin: 40px auto; display: block; width: auto'), 'http://headcount.org'
			.small
				Built by
				%a{ :href => 'http://twitter.com/sduncombe', :target => '_blank' } Scott Duncombe
				\& designed by
				%a{ :href => 'http://www.linkedin.com/pub/bryan-chiem/3b/100/181', :target => '_blank' } Bryan Chiem