!!!
%html
	%head
		%title #{ @title + ' | #SoundOff @ Congress' rescue '#SoundOff @ Congress'  }

		= render 'home/meta'

		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "angular.min"
		= csrf_meta_tags


	%body{ :class => @body_class }
		= yield

		:javascript
			var $oundoff_config = #{ ( @config || {} ).to_json }
		= javascript_include_tag "application"